## import the Script

In [1]:
import pandas as pd
import sys
from pathlib import Path

sys.path.append(str(Path().resolve().parent / "src"))

In [2]:
df = pd.read_csv('/home/samrawit/credit-risk-model/data/raw/data.csv')

In [3]:
df.columns

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult'],
      dtype='object')

In [4]:
import pandas as pd
from  main import main

In [5]:
processed_data = main(df)

Initial columns: ['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId', 'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId', 'ProductCategory', 'ChannelId', 'Amount', 'Value', 'TransactionStartTime', 'PricingStrategy', 'FraudResult']
Engineered columns: ['CustomerId', 'Total_Transaction_Amount', 'Average_Transaction_Amount', 'Transaction_Count', 'Std_Transaction_Amount']
Final processed data shape: (3742, 4)

In [6]:
processed_df = pd.DataFrame(processed_data)

In [8]:
processed_df

             0         1         2         3
0    -0.066891 -0.153364 -0.253459  0.000000
1    -0.066891 -0.153364 -0.253459  0.000000
2    -0.055849 -0.069870 -0.212186 -0.105976
3    -0.061655 -0.091435 -0.150278 -0.168036
4    -0.055849 -0.073846 -0.201868 -0.111444
...        ...       ...       ...       ...
3737 -0.055849 -0.073846 -0.201868 -0.110846
3738 -0.055849 -0.069870 -0.212186 -0.104047
3739  0.136968 -0.061611  0.778355 -0.020708
3740 -0.012049 -0.044962 -0.088369 -0.127968
3741 -0.026404 -0.066617 -0.036778 -0.103739

[3742 rows x 4 columns]

In [7]:
processed_df.to_csv("/home/samrawit/credit-risk-model/data/Processed/processed_data.csv", index=False)