In [1]:
import pandas as pd
import sys
from pathlib import Path

sys.path.append(str(Path().resolve().parent / "src"))

In [2]:
df = pd.read_csv('/home/samrawit/credit-risk-model/data/raw/data.csv')

In [3]:
import sys
from pathlib import Path
sys.path.append(str(Path().resolve().parent / "src"))

from target_engineering import compute_rfm

rfm = compute_rfm(df)
rfm.head()

        CustomerId  Recency  Frequency  Monetary
0     CustomerId_1       84          1  -10000.0
1    CustomerId_10       84          1  -10000.0
2  CustomerId_1001       90          5   20000.0
3  CustomerId_1002       26         11    4225.0
4  CustomerId_1003       12          6   20000.0

In [4]:
from target_engineering import cluster_customers

In [5]:
cluster_customers = cluster_customers(rfm)

In [6]:
cluster_customers.head()

        CustomerId  is_high_risk
0     CustomerId_1             1
1    CustomerId_10             1
2  CustomerId_1001             1
3  CustomerId_1002             0
4  CustomerId_1003             0